{% extends 'base.html' %}

{% block head_title %}{{ block.super }} - {{ section.name_section }}{% endblock head_title %}

{% block content %}

<div class="card my-3">
    <div class="card-header">
        <h3>{{ section.name_section }}</h3>
        <h6 class="card-text">{{ section.description }}</h6>
    </div>
    <!-- </div> -->
    {% for d in discussion %}
    <div class="card-body">
        <p><strong><a href="{{ d.get_absolute_url }}">{{ d.title }} </a></strong> By: {{ d.author }}</p>
    </div>
    {% endfor %}
    <a class=" btn btn-sm btn-info" href="{% url 'create_discussion' pk=section.pk %}">Create a new Discussion</a>
</div>

{% endblock content %}