{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }}{% endblock head_title %}

{% block content %}

{% for post in posts_discussion %}
<h1><strong>{{ discussion.title }}</strong></h1>
<h5> Section:{{ discussion.section_membership }}</h5>
<h6>{{ discussion.data_creation }}</h6>
<div class="card my-3">
    <div class="card-header">
        <h3>By: {{ post.author_post }}</h3>
        <h6>{{ post.data_creation }}</h6>
        <h4>{{ post.content }}</h4>


        <h6 class="card-text">{{ section.description }}</h6>
    </div>
</div>
{% endfor %}

{% endblock content %}